.top-bar {
    margin-bottom: 50px;
}

.feed-image {
    padding: 0;
}

.feed-image-src {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

.feed-image-title {
    font-weight: bold;
}

.feed-image-attribution, .feed-image-timestamp {
    font-size: 0.75em;
}

.feed-image-timestamp {
    font-style: italic;
}

.login-box {
    margin-top: 100px;
}